<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Калькулятор стоимости недвижимости</title>
</head>
<body>

<h1>Калькулятор стоимости недвижимости</h1>
<form method="post">
    <p>
        <label>Площадь квартиры</label>
        <input type="text" name="area">
    </p>
    <p>
        <input type="submit">
    </p>
</form>

{% if message %}
<p>{{ message }}</p>
{% endif %}

</body>
</html>